@use 'variables' as *;

.loading_box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  background-image: url('../assets/CCPLoadingImage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $bg-warm;
}

.loading_box.visible {
  opacity: 1;
}
